#!/bin/bash

# Check if awx-operator-controller-manager pod exists
# Return value if it does or FALSE if it doesn't

TEST=$(kubectl get pods -A | grep -o awx-operator-controller-manager)
if [ -z $TEST ]
then
  echo FALSE; exit
elif [ $TEST == "awx-operator-controller-manager" ]
then
  echo ${TEST}
else
  echo FALSE
fi
